<mat-toolbar>
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
      *ngIf="sidenav.mode === 'over'" (click)="openSideNav()">
      <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
    </button>
    <button mat-icon-button class="example-icon btn-close" aria-label="Example icon-button with menu icon"
      *ngIf="sidenav.mode === 'over'" (click)="closeSideNav()">
      <mat-icon *ngIf="sidenav.opened">close</mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav mode="side" opened="true" #sidenav="matSidenav">
    <img class="avatar mat-elevation-z8" src="../assets/img/profile.png" alt="">
    <h4 class="name">Mayank Shingare</h4>
    <p class="designation">Software Developer</p>
    <mat-divider></mat-divider>
    <button mat-button class="menu-buttton" routerLink="dashboard">
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </button>
    <button mat-button class="menu-buttton" routerLink="user-info">
      <mat-icon>person</mat-icon>
      <span>Person</span>
    </button>
    <button mat-button class="menu-buttton">
      <mat-icon>info</mat-icon>
      <span>About</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-button class="menu-buttton">
      <mat-icon>help</mat-icon>
      <span>Help</span>
    </button>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="content mat-elevation-z4">
     <!-- <app-dashboard></app-dashboard> -->
     <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>